<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="../public/styles.css">
    </head>

    <body>
        <h1>To Do List</h1>
        <form method="post" action="/">
            <input type="text" name="listItem" placeholder="New List Item" autofocus>
        </form>

        <p> Incomplete Items</p>
        {{#list}} {{^checked}}
        <form method="post" action="/{{name}}">

            <p><button value={ {list.item}}>Mark Complete</button> {{name}}</p>

        </form>
        {{/checked}} {{/list}}
        <p>Completed Items</p>

        {{#list}} {{#checked}}

        <p>{{name}}</p>

        {{/checked}} {{/list}}

    </body>

</html>