* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Helvetica', sans-serif;
}

.container {
    max-width: 700px;
    margin: 20px auto;
}

h1 {
    margin: 20px 0 10px;
    text-transform: uppercase;
    color: #333333;
}

.list-header {
    margin: 16px 0;
    font-size: 24px;
    font-weight: 300;
}

#todo-form {
    display: flex;
    justify-content: space-between;
}

input, select {
    font-size: inherit;
    line-height: inherit;
    flex-basis: calc(100% - 140px);
    border: 2px solid grey;
    padding: 5px 10px;

}

input:focus {
    border: 2px solid #333333;
    outline: none;
}

button {
    width: 235px;
    border: 2px solid dimgrey;
    background: white;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
}

button:hover {
    background: #333333;
    color: white;
    cursor: pointer;
}

.item-row {
    display: flex;
    flex-direction: row;
}

.incomplete-headers {
    width:50%;
    display: flex;
}

.incomplete-name-header {
    display:inline;
    width: 71%;
}

.incomplete-priority-header {
    display:inline;
    width: 29%
}

.incomplete-name {
    flex: 2;
}

.incomplete-priority {
    flex: 1;
}

.incomplete-button {
    width: 95%;
}

#markComplete button {
    background: #333333;
    color: white;
    margin-right: 20px;
    width: auto;
}

form#markComplete button:hover {
    background: white;
    color: #333333;
}

form#markComplete li {
    display: inline-block;
    margin: 10px 0;
}

.completed-cell {
    flex: 1;
}

.complete {
    text-decoration: line-through;
}